@media only screen and (min-width: 32rem) {
  .site-header {
    grid-template-columns: 1fr auto;
  }

  .menu-button { display: none; }

  .nav {
    display: flex;
    grid-column: auto;
    flex-direction: row;
    gap: 0.4rem;
    align-items: center;
    justify-content: flex-end;
  }

  .members.grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .footer-inner {
    grid-template-columns: 1fr 1fr;
    align-items: start;
  }
}

@media only screen and (min-width: 64rem) {
  .members.grid {
    grid-template-columns: repeat(3, 1fr);
  }
}
